= form_for @entry do |f|
  -if @entry.errors.any?
    #error_explanation
      %h2= "#{pluralize(@entry.errors.count, "error")} prohibited this entry from being saved:"
      %ul
        - @entry.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :link
    = f.text_area :link
  .field
    = f.label :references
    = f.text_field :references
  .field
    = f.label :references
    = f.text_field :references
  .actions
    = f.submit 'Save'
