= form_for @entry do |f|
  -if @entry.errors.any?
    #error_explanation
      %h2= "#{pluralize(@entry.errors.count, "error")} prohibited this entry from being saved:"
      %ul
        - @entry.errors.full_messages.each do |msg|
          %li= msg

          
  .field
    = f.label :hacker
    = collection_select :entry, :hacker_id, Hacker.all, :id, :twitter
  .field
    = f.label :round
    = collection_select :entry, :round_id, Round.open_rounds, :id, :deadline 
  .field
    = f.label :link
    = f.text_field :link
  .field
    = f.label :shortname
    = f.text_field :shortname
  .actions
    = f.submit 'Save'
