%h1 Listing entries

%table
  %tr
    %th Link
    %th Hacker
    %th Entry
    %th
    %th
    %th

  - @entries.each do |entry|
    %tr
      %td= entry.link
      %td= entry.hacker.twitter
      %td= entry.round.deadline
      %td= link_to 'Show', entry
      %td= link_to 'Edit', edit_entry_path(entry)
      %td= link_to 'Destroy', entry, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Entry', new_entry_path
