%h1 Listing entries

%table.scoreboard
  %thead
    %tr
      %th.scoreboard_header_t1 Link
      %th.scoreboard_header_t1 Hacker
      %th.scoreboard_header_t1 Entry
      %th.scoreboard_header_t1.scoreboard_header_t3
      %th.scoreboard_header_t1.scoreboard_header_t3
      %th.scoreboard_header_t1.scoreboard_header_t3

  %tfoot
  %tbody

    - @entries.each_with_index do |entry, index|
      - even_odd = 0
      - if (index %2 ==0) then
        - even_odd = "odd"
      - else
        - even_odd = "even"
      %tr{:class => even_odd}
        %td= entry.link
        %td= entry.hacker.twitter
        %td= entry.round.deadline
        %td= link_to 'Show', entry
        %td= link_to 'Edit', edit_entry_path(entry)
        %td= link_to 'Destroy', entry, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Entry', new_entry_path
