
%h1 Project-A-Week Scoreboard Of DOOM

%table{:cellpadding => 5, :width => "100%"}
  %tr
    %th{:width => '20px',:bgcolor => 'grey'}  name
    %th{:width => '20px', :bgcolor => 'grey'}  score
    - @rounds.each do |r|
      %th= r.deadline.to_date
  - @hackers.each do |hacker|
    %tr 
      %td{:width => '20px'}= link_to hacker.twitter, "http://slashdot.org"
      %td{:width => '20px'}= hacker.entries_count
      - @rounds.each do |round|
        - entry=@entries[hacker.id][round.id]
        - if entry 
          %td{:bgcolor => "lightgreen"}= link_to entry.shortname, entry.link
          - else
          %td{:bgcolor => "grey"}
            %center :(  

if you'd like to play along at home,
= link_to "make yourself an account", :action => :new, :controller =>:hackers
and 
= link_to "start submitting entries", :action => :new, :controller =>:entries

There is precisely no security on this at the moment, so try to resist the urge to prank.
