%p#notice= notice

%p
  %b Link:
  = @entry.link
%p
  %b Hacker:
  = @entry.hacker.twitter
%p
  %b Round:
  = @entry.round.deadline

= link_to 'Edit', edit_entry_path(@entry)
\|
= link_to 'Back', entries_path
