%h1 Listing hackers

%table{:class => "scoreboard"}
  %thead
    %tr
      %th{:class => "scoreboard_header_t1"} Twitter
      %th{:class => "scoreboard_header_t1 scoreboard_header_t3"}
      %th{:class => "scoreboard_header_t1 scoreboard_header_t3"}
      %th{:class => "scoreboard_header_t1 scoreboard_header_t3"}

  %tfoot
  %tbody
  
    - @hackers.each_with_index do |hacker,index|
      - even_odd = 0
      - if (index %2 ==0) then
        - even_odd = "odd"
      - else
        - even_odd = "even"
      %tr{:class => even_odd}
        %td= hacker.twitter
        %td= link_to 'Show', hacker
        %td= link_to 'Edit', edit_hacker_path(hacker)
        %td= link_to 'Destroy', hacker, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Hacker', new_hacker_path
