%h1 Listing hackers

%table.scoreboard
  %thead
    %tr
      %th.scoreboard_header_t1 Twitter
      %th.scoreboard_header_t1.scoreboard_header_t3
      %th.scoreboard_header_t1.scoreboard_header_t3
      %th.scoreboard_header_t1.scoreboard_header_t3

  %tfoot
  %tbody

    - @hackers.each_with_index do |hacker,index|
      %tr{:class => (index % 2 == 0) ? "odd" : "even"}
        %td= hacker.twitter
        %td= link_to 'Show', hacker
        %td= link_to 'Edit', edit_hacker_path(hacker)
        %td= link_to('Destroy', hacker_path(hacker), :confirm => "sure?", :method => :delete)

%ul.sub_nav
  %li.sub_nav_item
    = link_to 'New Hacker', new_hacker_path
