%h1 Lonely hacker

%p#notice= notice

%ul.details
  %li.details_item
    %span.details_item_t1.details_item_t2 Twitter:
    %span.details_item_t1
      = @hacker.twitter
  %li.details_item
    %span.details_item_t1.details_item_t2 Name:
    %span.details_item_t1
      = @hacker.name

= link_to 'Edit', edit_hacker_path(@hacker)
\|
= link_to 'Back', hackers_path
