%h1 Listing rounds

%table
  %tr
    %th Deadline
    %th
    %th
    %th

  - @rounds.each do |round|
    %tr
      %td= round.deadline
      %td= link_to 'Show', round
      %td= link_to 'Edit', edit_round_path(round)
      %td= link_to 'Destroy', round, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Round', new_round_path
