<!DOCTYPE html>
%html
  %head
    %meta{:"charset" => "utf-8"}
    %title Project-A-Week - hack it fast and dirty
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Ubuntu|Cabin+Sketch:bold", :type => "text/css", :media => "screen, handheld"}
    %link{:rel => "stylesheet", :href => "/stylesheets/scaffold.css", :type => "text/css", :media => "all"}
  %body
    %nav{:class => "main_nav"}
      %ul{:class => "main_nav_list"}
        %li{:class => "main_nav_list_item"}><
          = link_to "scoarboard", :action => :index
        %li{:class => "main_nav_list_item"}><
          = link_to "new account", :action => :new, :controller =>:hackers
        %li{:class => "main_nav_list_item"}><
          = link_to "new entrie", :action => :new, :controller =>:entries
        %li{:class => "main_nav_list_item"}><
          = link_to "entries", :action => :index, :controller =>:entries
        %li{:class => "main_nav_list_item"}><
          = link_to "hacker", :action => :index, :controller =>:hackers
    
    #main= yield

    <script src="http://widgets.twimg.com/j/2/widget.js"></script>

    #twitter
      :javascript 
        new TWTR.Widget({
        version: 2,
        type: 'search',
        search: '#projectaweek',
        interval: 6000,
        title: 'one project, one week',
        subject: '',
        width: '250',
        height: 400,
        theme: {
        shell: {
        background: 'orange',
        color: '#ffffff'
        },
        tweets: {
        background: '#ffffff',
        color: '#444444',
        links: '#1985b5'
        }
        },
        features: {
        scrollbar: true,
        loop: false,
        live: true,
        hashtags: true,
        timestamp: true,
        avatars: true,
        toptweets: true,
        behavior: 'all'
        }
        }).render().start();

